.single-client {
  width: 90%;
  margin: auto;
  /* text-align: center; */
  color: slategray;
}

.single-client h2 {
  font-size: 1rem;
  color: #464646;
  padding-bottom: 1rem;
  border-bottom: 2px solid #464646;
}

.single-client__image {
  height: 20rem;
  width: 20rem;
  margin: 1rem auto;
}

@media (min-width: 768px) {
  .single-client {
    width: 40rem;
  }
}
